# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.env.local
food_env

# VS Code directory
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Operating system files
Thumbs.db # Windows-specific files
